<p>SUBCOMPONENTE: pueblo</p>

<div style="font-size: medium; padding: 1%;">
    <div style="padding: 0.5%; color: white; background-color: rgb(2, 2, 2);">
            comando:
    </div>
    <div style="border: 3px solid rgb(2, 2, 2); background-color: whitesmoke; color: black;">
            comando: ng g c vista/ejeinput/pueblo --skip-tests
    </div>
</div>
El pueblo es: {{pueblo}} <br>

<p>
        Pais: {{pais}}<br>
        Provincia: {{otroNombre}}
</p>

<button (click)="buttonClick($event)">Enviar datos</button>