<p>SUBCOMPONENTE: eje-input</p>

<div style="font-size: medium; padding: 1%;">
    <div style="padding: 0.5%; color: white; background-color: rgb(2, 2, 2);">
            comando:
    </div>
    <div style="border: 3px solid rgb(2, 2, 2); background-color: whitesmoke; color: black;">
            ng g c vista/ejeinput --skip-tests
    </div>
</div>

<p>comando: </p>
El pais es: {{pais}}<br>
La provincia es: {{provincia}}<br><br>
El pueblo segun el subcomponente es: {{pueblo}}<br>
<div style="padding: 1%; background-color: rgb(176, 235, 255); color: blue; font-size: x-large; border: 4px solid blue;">
    <pueblo [pais]="pais" [provincia]="provincia" (enviarPueblo)="getDatos($event)"></pueblo>
</div>  