<p>Selecciona: 
  <select #idSelect [ngClass]="mycolors" [(ngModel)]="selectedValue" (change) = "change(idSelect)">
    <option *ngFor="let item of movies;" [value]="item.title">{{item.title}}</option>
  </select>
</p>
<p [ngClass]="mycolors">
  {{selectedValue}}
</p>


<table style="width:100%" [ngClass]="mycolors">
  <tr>
    <th>Titulo</th>
    <th>Director</th>
    <th>Cast</th>
    <th>Fecha</th>
    <th>Ciudad</th>
  </tr>

  <tr *ngFor="let item of movies;" >
    <td appHighlight>{{item.title}}</td>
    <td appHighlight>{{item.director}}</td>
    <td appHighlight>{{item.cast}}</td>
    <td appHighlight>{{item.releaseDate}}</td>
    <td >
      <select  [ngClass]="mycolors">
        <option *ngFor="let item of movies;" [value]="item.ciudad">{{item.ciudad}}</option>
      </select>
    </td>
  </tr>
  
</table>