/* Add application styles & imports to this file! */
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: dimgray;
}
p {
  color: chocolate;
  background-color: gainsboro;
  padding: 1%;
}

.rojo {
  color: red;
  font-size: 120%;
  font-weight: bold;
  background-color: lightsteelblue;
  padding: 1%;
}